/* Menu */

@media (max-width: 910px) {
    .menu {
        display: grid;
    }
}

/* Button */

@media (max-width: 910px) {
    .menu__button {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        z-index: 1;
        display: block;
        margin: 0;
        margin-top: 35px;
        margin-right: 16px;
        padding: 0;
        border: none;
        background-color: transparent;
        justify-self: end;
        cursor: pointer;
        position: relative;
        outline: none;
    }
    .menu-button__line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--basic-black);
        position: absolute;
        left: 0;
        transition: .2s all linear;
    }

    .menu-button__line_first {
        top: 0;
    }
    .menu-button__line_second, .menu-button__line_third {
        top: 14px;
        transform: translateY(50%);
    }
    .menu-button__line_fourth {
        bottom: 0;
    }
    .menu__button--open .menu-button__line_first, .menu__button--open .menu-button__line_fourth {
        opacity: 0;
    }
    .menu__button--open .menu-button__line_second {
        transform: translateY(50%) rotate(45deg);
    }
    .menu__button--open .menu-button__line_third {
        transform: translateY(50%) rotate(-45deg);
    }
}

@media (min-width: 910px) {
    .menu__button {
        display: none;
    }
}





/* List */

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

@media (max-width: 910px) {
    .menu__list {
        display: none;
        row-gap: 25px;
        padding-top: 35px;
        padding-bottom: 22px;
        padding-left: 64px;
        box-shadow: 0 50vh 0 50vh var(--special-dark-10a);
        background-color: var(--basic-white);
    }

    .menu__list--open {
        display: grid;
    }
}

@media (min-width: 910px) {
    .menu__list {
        display: grid;
        grid-auto-flow: column;
        column-gap: 18px;
    }
}

/* Item */

.menu__item {
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

/* Link */

.menu__link {
    color: var(--special-dark);
}

.menu__link[href]:hover {
    color: var(--special-neutral);
}

.menu__link--current {
    color: var(--basic-black);
    text-decoration: none;
    font-weight: bold;
}

.menu__link--inactive {
    color: var(--basic-dark);
    text-decoration: none;
}

/* .menu__link--patreon {
    padding-left: 18px;
} */

.menu__link--patreon::before {
    position: absolute;
    margin-top: 2px;
    /* margin-left: -18px; */
    width: 16px;
    height: 16px;
    /* content: url('../../../images/patreon.svg'); */
}

/* @media (max-width: 910px) {
    .menu__link--patreon {
        margin-left: -18px;
    }
} */