.faq-info {
    margin: 0;
    padding: 0;
    min-height: 30vh;
    /* background: #333; */
    background:  var(--basic-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 940px) {
    .container {
        flex-direction: column;
    }
}

.container .card{
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.container .card .face{
    width: 300px;
    height: 340px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: var(--basic-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(140px);
}

.container .card:hover .face.face1{
    background:  var(--basic-dark);
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    width: 128px;
    height: 128px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: var(--basic-white);
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: var(--basic-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-200px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    margin-top: 15px;
    padding: 0;
    color: var(--basic-dark);
    font-size: 16px;
}

/* .container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
} */

/* .container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
} */